{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Login' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Login' %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="card card-body bg-light">
                <h2>{% trans 'Login' %}</h2>
                {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Login" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Logging in...' %}">{% trans 'Login' %}</button>
            </form>
            <p class="mt-3 mb-0">{% trans "New to Topository?" %} <a href="{% url 'customer:register' %}">{% trans 'Create an account' %}</a>.</p>
        </div>
    </div>
{% endblock content %}
